(
    event_dispatcher: (
        Toggle_Key: Grave,
        Excluded_Keys: [
            J,
            L,
            LeftAlt,
            LeftShift,
            Tab,
        ],
    ),
    event_handler: (
        Sensitivity: 1,
        Parachute_Sensitivity: 179769313486231570000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000,
        binds: {
            Mouse(Left): Button(RightTrigger),
            Keyboard(F1): Button(LeftThumb),
            Keyboard(LeftAlt): Button(DpadUp),
            Keyboard(Num1): Button(DpadLeft),
            Keyboard(F): Button(X),
            Keyboard(Esc): Button(Start),
            Keyboard(V): Button(RightThumb),
            Mouse(Button5): Button(DpadUp),
            Keyboard(B): Button(DpadLeft),
            Keyboard(R): Button(X),
            Keyboard(E): Button(RightShoulder),
            Keyboard(M): Button(Back),
            Mouse(Right): Button(LeftTrigger),
            Keyboard(I): Button(DpadLeft),
            Keyboard(F2): Button(RightThumb),
            Mouse(ScrollDown): Button(Y),
            Keyboard(Q): Button(LeftShoulder),
            Keyboard(K): Button(Guide),
            Keyboard(Num2): Button(DpadRight),
            Keyboard(LeftControl): Button(B),
            Mouse(Button4): Button(RightThumb),
            Keyboard(Num3): Button(DpadDown),
            Keyboard(Space): Button(A),
        },
        Mouse_Smoothing_Level: 5,
    ),
)